.banner{
    margin-top: 82px;
}

.banner__wrap{
    padding: 82px 0 162px;
}

.banner__wrap-title{
    color: #fff;
    font-size: 64px;
    font-weight: 400;
    line-height: 76px;
    width: 557px;
    height: 228px;
}

.banner__wrap-text{
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    line-height: 30px;
    width: 617px;
    height: 60px;
    margin: 8px 0 14px;
}