.header{
    background: #0C0D2EE5;
    position: fixed;
    top: 0;
    right: 0 ;
    left: 0;
    z-index: 3;
}

.header__wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 0;
}

.header__wrap-nav{
    display: flex;
}

.header__wrap-nav-list{
    display: flex;
    align-items: center;
}

.header__wrap-nav-list-item-link{
    padding: 30px 12px;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    transition: 0.3s;
}

.header__wrap-nav-list-item-link:hover{
    color: #189CE8;
}

.header__wrap-nav-btn{
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    color: #FFFFFF;
    border-radius: 25px;
    border: 2px solid #fff;
    padding: 16px 32px;
    margin-left: 28px;
    background: #0C0D2EE5;
    cursor: pointer;
    transition: 0.3s;
}

.header__wrap-nav-btn:hover{
    color: #189CE8;
    border: 2px solid #189CE8;
}